.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  grid-area: title;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__title {
    font-size: calc(30 * 100vw / 256 - 48px);
    line-height: calc(30 * 100vw / 256 - 44px);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .place__title {
    font-size: calc(10 * 100vw / 448 + (32px - 320px * 10 / 448));
    line-height: calc(11 * 100vw / 448 + (35px - 11 * 320px / 448));
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: calc(100vw / 10);
    line-height: calc(35 * 100vw / 320);
    margin: auto calc(100vw / 20);
  }
}