.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px; 
  text-align: center;
  max-width: 720px;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .lead__title {
    font-size: calc((96 * 100vw) / 768);
    line-height: calc((100 * 100vw) / 768);
    max-width: calc((720 * 100vw) / 768);
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: calc((40 * 100vw) / 320);
    line-height: calc((44 * 100vw) / 320);
    max-width: calc((288 * 100vw) / 320);
  }
}