.place__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  margin: 0 0 24px 0;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    margin: 0 16px 24px;
  }

  .place__paragraph:last-child {
    margin: 0 16px;
  }
}