.cover {
  max-width: 1184px;
  height: calc(5 * 100vw / 8); /* Отношение сторон обложки всегда составляет 5 / 8 */
  margin: 92px auto;

  background-image: url('../../images/miscellaneous/cover-trains.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    margin: 89 auto;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 65 auto;
  }
}