.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  text-decoration: none;
  box-shadow:
    inset 0 -2px #FFF;
}

@media screen and (max-width: 375px) {
  .place__link {
    font-size: calc(18 * 100vw / 320);
    line-height: calc(22 * 100vw / 320);
    margin: auto calc(100vw / 20);
  }
}