.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-gap: 48px 40px;
  grid-template-areas: 
  "title website"
  "image text";
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "website"
    "image"
    "text";
  }
}