.place__url-heading {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin: 0 0 5px 0; 
}

@media screen and (max-width: 320px) {
  .place__url-heading {
    font-size: calc(12 * 100vw / 320);
    line-height: calc(20 * 100vw / 320);
    margin: auto calc(100vw / 20);
  }
}